@tailwind base;
@tailwind components;
@tailwind utilities;

$mobile: 425px;
$tablet: 768px;


.checkout-page__container{
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media(max-width: $tablet){
        grid-template-columns: 1fr;
    }
}

#checkout-items{
    @media(max-width: $tablet){
        height: 301px;
        overflow: scroll;
    }
}


$headerHeight: 48;
main{
    min-height: calc(100vh - #{$headerHeight}px);
    position: relative;
}

header{
    height: $headerHeight + px;
}


#fiction-hero{
    background-image: url(../assets/fiction-bg.jpeg);
    background-position: center;
    background-size: cover;
}

#non-fiction-hero{
    background-image: url(../assets/non-fiction-bg.webp);
    background-position: center;
    background-size: cover;
}

.wrapper a:hover{
    color: 	#2BE653;
}

.product-page-container{
    height: 660px;
    width: 80%;
    border: 1px solid;
    border-radius: 10px;
    overflow: scroll;
    padding: 20px 0;

    @media(width > 700px){
        min-height: inherit;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        display: grid;
        border-radius: 0;
        padding: 0;
    }
}

#product-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;

    @media(width > 700px){
        display: block;
    }

    &-hero-img-container{
        @media(width > 700px){
            border: 1px solid black;
            background-color: #F7F7F7;
        }
    }

    &-hero-img{
        height: 100%;
        width: 70%;
        margin: auto;
        display: grid;
        place-content: center;
    }

    &-info{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 20px;

        @media(width > 700px){
            display: grid;
            place-content: center;
            height: initial;
        }
    }
}

.product-card{
    &:hover{
        color: 	#2BE653;
    }

    &__img{
        aspect-ratio: .8;

        @media(width > 700px){
            aspect-ratio: 1.2;
        }
    }
}

#collection-page-intro{
    transform: skewX(-18deg);
    margin: 10px 0;
    text-align: center;
}

.page-height{
    height: 100%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#synopsis-block p + p{
    margin-top: 1rem;
}
